<div class="modal-content" >
    <div class="modal-header clearfix text-left">
        <button type="button" class="close" (click)="modalRef.hide()" aria-hidden="true">
            <i class="pg-icon">close</i>
        </button>
        <h5>
            {{title}}
        </h5>
<!--        <p class="p-b-10">We need payment information inorder to process your order</p>-->
    </div>
    <div class="modal-body">
        <form class="" role="form">
            <div class="form-group form-group-default required " pgFormGroupDefault>
                <label>Name</label>
                <input type="text" class="form-control" [(ngModel)]="color.name" name="color" value="{{color.name}}" required>
            </div>
            <div class="form-group form-group-default required" pgFormGroupDefault>
                <label>Hex</label>
                <input type="text" class="form-control" [(ngModel)]="color.hex" name="hex" value="{{color.hex}}" required>
            </div>
            <div class="form-group" pgFormGroupDefault *ngIf="errorForm">
                <label>All field (*) are required</label>
            </div>
            <div *ngIf="color.id !== undefined; else newBlock">
                <button class="btn btn-primary" (click)="updateColor(color)">Update</button>
                <button class="btn btn-warning ml-3" (click)="modalRef.hide()">Cancel</button>
            </div>
            <ng-template #newBlock>
                <button class="btn btn-primary" (click)="createColor($event)">Create</button>
                <button class="btn btn-warning ml-3" (click)="modalRef.hide()">Cancel</button>
            </ng-template>
        </form>
    </div>
</div>
