<div class="container-fluid p-l-25 p-r-25 sm-p-l-0 sm-p-r-0">
    <div class="card card-transparent bg-white">
        <div class="card-header">
            <div class="card-title">Color List</div>
            <div class="clearfix"></div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <app-datatable [source]="dataSource" [settings]="dataSettings" (onRowClick)="editColor($event)" (onNewClick)="newColor($event)"></app-datatable>
            </div>
        </div>
    </div>
</div>
