<div class="modal-header clearfix text-left">
    <button type="button" class="close" (click)="bsModalRef.hide()" aria-hidden="true">
        <i class="pg-icon">close</i>
    </button>
    <h5>
        {{title}}
    </h5>
    <!--        <p class="p-b-10">We need payment information inorder to process your order</p>-->
</div>
<div class="modal-body">

    <form id="form_family" role="form" [formGroup]="familyGroup" (ngSubmit)="saveFamily()" autocomplete="off">
        <p>Basic Information</p>
        <div class="row clearfix">
            <div class="col-md-12">
                <div pgFormGroupDefault class="form-group form-group-default input-group"
                     [class.has-error]="getFormControl('familyName').invalid && (getFormControl('familyName').dirty || getFormControl('familyName').touched)">
                    <div class="form-input-group">
                        <label>Mame</label>
                        <input type="text" class="form-control" name="familyName" formControlName="familyName"
                               placeholder="Family Name" required>
                    </div>
                </div>
                <div *ngIf="getFormControl('familyName').invalid && (getFormControl('familyName').dirty || getFormControl('familyName').touched)">
                    <label *ngIf="getFormControl('familyName').errors.required" class="error">
                        This field is required.
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div pgFormGroupDefault class="form-group form-group-default input-group"
                     [class.has-error]="getFormControl('familyDescription').invalid && (getFormControl('familyDescription').dirty || getFormControl('familyDescription').touched)">
                    <div class="form-input-group">
                        <label>Description</label>
                        <input type="text" class="form-control" name="familyDescription"
                               formControlName="familyDescription" placeholder="Family Description" required>
                    </div>
                </div>
                <div *ngIf="getFormControl('familyDescription').invalid && (getFormControl('familyDescription').dirty || getFormControl('familyDescription').touched)">
                    <label *ngIf="getFormControl('familyDescription').errors.required" class="error">
                        This field is required.
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p>Attributes</p>
            </div>
            <div class="col-md-6 text-right">
                <button aria-label="" type="button" class="btn btn-outline-primary"
                        (click)="addAttribute(0, '', 'Text')">
                    Add Attribute
                </button>
            </div>
        </div>

        <div *ngFor="let attribute of familyGroup.get('familyAttributes')['controls']">
            <div [formGroup]="attribute">
                <input type="hidden" formControlName="familyAttributeId">
                <div class="row">
                    <div class="col-md-6">
                        <div pgFormGroupDefault class="form-group form-group-default input-group"
                             [class.has-error]="attribute.controls['familyAttribute'].invalid && (attribute.controls['familyAttribute'].dirty || attribute.controls['familyAttribute'].touched)">
                            <div class="form-input-group">
                                <label>Name</label>
                                <input type="text" name="familyAttribute" class="form-control" autocomplete="off"
                                       formControlName="familyAttribute" placeholder="Attribute Name" required>
                            </div>
                        </div>
                        <div *ngIf="attribute.controls['familyAttribute'].invalid && (attribute.controls['familyAttribute'].dirty || attribute.controls['familyAttribute'].touched)">
                            <label *ngIf="attribute.controls['familyAttribute'].errors.required" class="error">
                                This field is required.
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default form-group-default-select2">
                            <label>Type</label>
                            <pg-select style="width: 100%;" [PlaceHolder]="'Select Type'" AllowClear
                                       [(ngModel)]="attribute.get('familyAttributeType').value"
                                       [ngModelOptions]="{standalone: true}">
                                <pg-option *ngFor="let type of attributeTypes"
                                           [Label]="type.value"
                                           [Value]="type.value"
                                           [Disabled]="type.disabled">
                                </pg-option>
                            </pg-select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>


    <!--    <pg-tabset tabAnimation="slide-left" Type="simple" ShowPagination="true">-->
    <!--        <pg-tab>-->
    <!--            <ng-template #TabHeading>-->
    <!--                Family Properties-->
    <!--            </ng-template>-->
    <!--            <div class="row column-seperation">-->
    <!--                <div class="col-lg-6">-->
    <!--                    <h3>-->
    <!--                        <span class="semi-bold">Sometimes</span> Small things in life means the most-->
    <!--                    </h3>-->
    <!--                </div>-->
    <!--                <div class="col-lg-6">-->
    <!--                    <h3 class="semi-bold">great tabs</h3>-->
    <!--                    <p>Native boostrap tabs customized to Pages look and feel, simply changing class name you-->
    <!--                        can change color as well as its animations</p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </pg-tab>-->
    <!--        <pg-tab>-->
    <!--            <ng-template #TabHeading>-->
    <!--                Family Attributes-->
    <!--            </ng-template>-->
    <!--            <div class="row">-->
    <!--                <div class="col-lg-12">-->
    <!--                    <h3>“ Nothing is-->
    <!--                        <span class="semi-bold">impossible</span>, the word itself says 'I'm-->
    <!--                        <span class="semi-bold">possible</span>'! ”-->
    <!--                    </h3>-->
    <!--                    <p>A style represents visual customizations on top of a layout. By editing a style, you can-->
    <!--                        use Squarespace's visual interface to customize your...</p>-->
    <!--                    <br>-->
    <!--                    <p class="pull-right">-->
    <!--                        <button type="button" class="btn btn-default btn-cons m-b-10">White</button>-->
    <!--                        <button type="button" class="btn btn-success btn-cons">Success</button>-->
    <!--                    </p>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </pg-tab>-->
    <!--    </pg-tabset>-->

</div>
<div class="modal-footer clearfix text-right">
    <button aria-label="" class="btn btn-danger btn-icon-left m-b-10 m-r-5" type="button"
            *ngIf="family.id > 0" (click)="deleteFamily(family.id)">
        <i class="pg-icon">trash</i> Delete
    </button>
    <button aria-label="" class="btn btn-primary btn-icon-left m-b-10 m-r-5" type="button"
            [disabled]="!familyGroup.valid || familyGroup.get('familyAttributes')['controls'].length == 0"
            (click)="saveFamily(familyGroup)">
        <i class="pg-icon">tick</i>
        <span class="">Save</span>
    </button>
</div>
