<div class="modal-content">
    <div class="modal-header clearfix text-left">
        <button type="button" class="close" (click)="bsModalRef.hide()" aria-hidden="true">
            <i class="pg-icon">close</i>
        </button>
        <h5>
            {{title}}
        </h5>
<!--        <p class="p-b-10">We need payment information inorder to process your order</p>-->
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group-attached">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-group-default" pgFormGroupDefault>
                            <label>Product Name</label>
                            <input type="text" placeholder="Enter the product name" class="form-control"
                                   [(ngModel)]="product.name" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-group-default" pgFormGroupDefault>
                            <label>Product Description</label>
                            <input type="text" placeholder="Enter the product description" class="form-control"
                                   [(ngModel)]="product.description" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-group-default form-group-default-select2">
                            <label class="">Product Family</label>
                            <pg-select style="width: 100%;" [(ngModel)]="product.familyId"
                                       [ngModelOptions]="{standalone: true}"
                                       [PlaceHolder]="'Select a Family'"
                                       AllowClear ShowSearch>
                                <pg-option *ngFor="let family of families"
                                           [Label]="family.name"
                                           [Value]="family.id">
                                </pg-option>
                            </pg-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default form-group-default-select2">
                            <label class="">Product Family</label>
                            <pg-select style="width: 100%;" [(ngModel)]="product.providerId"
                                       [ngModelOptions]="{standalone: true}"
                                       [PlaceHolder]="'Select a Provider'"
                                       AllowClear ShowSearch>
                                <pg-option *ngFor="let provider of providers"
                                           [Label]="provider.name"
                                           [Value]="provider.id">
                                </pg-option>
                            </pg-select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-8">
                <div class="p-t-20 clearfix p-l-10 p-r-10">
                    <div class="pull-left">
                        <p class="bold font-montserrat text-uppercase">TOTAL</p>
                    </div>
                    <div class="pull-right">
                        <p class="bold font-montserrat text-uppercase">$20.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 m-t-10 sm-m-t-10">
                <button type="button" class="btn btn-primary btn-block m-t-5">Pay Now</button>
            </div>
        </div>
    </div>
    <div class="modal-footer">

    </div>
</div>

